@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: #040704;
    --color-background: #e5f1e8;
    --color-primary: #85bc94;
    --color-secondary: #cee4d4;
    --color-accent: #96c5a2;
  }
}

@layer base {
  * {
    @apply border-accent;
  }
  body {
    @apply bg-background text-text;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  kbd {
    @apply px-2 py-1.5 text-xs font-semibold text-background bg-primary border border-gray-200 rounded-lg ;
  }
}

.react-card-flipper {
  perspective: 1000px;
}
